{
  "plugins": [
    "relay",
    "@babel/plugin-syntax-export-default-from",
    "@babel/plugin-proposal-object-rest-spread"
  ],
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ]
}
