html, body {
  background-color:#f1f1f1;
}

#root {
  background-color:#f1f1f1;
}

.main-wrapper {
  margin-top:30px;
  padding:0 15px;
}

.gap {
  height:40px;
}

.outset {
  box-shadow:0 1px 7px 0 rgba(0,0,0,0.2);
}

.inset {
  box-shadow:0 1px 7px 0 rgba(0,0,0,0.2) inset;
}

.clearbox {
  clear: both;
}

.rounded {
  border-radius:2px;
}

.m-b-md {
  margin-bottom:15px;
}

.m-r-5 {
  margin-right:5px;
}

.m-l-10 {
  margin-left:10px;
}

.button {
  font-size: 16px;
  padding: 6px 10px;
  margin-top: 8px;
  cursor: pointer;
  transition:background-color .2s;
  display:inline-block;
  color: white;
}

.button-success {
  background-color: #1ED760;
}

.button-success:hover {
  background-color:#2be96f;
}

.button.disabled {
  opacity:.6;
  cursor:not-allowed;
}

.button-success.disabled:hover {
  background-color: #1ED760;
}

.button-danger {
  background-color:#EB1E32;
}

.button-danger:hover {
  background-color:#ff5b6b;
}

.button-danger.disabled:hover {
  background-color:#EB1E32;
}

textarea {
  resize: none;
}

.muted {
  font-style:italic;
  color:lightgray;
}

.m-t-25 {
  margin-top:25px;
}

.m-b-25 {
  margin-bottom:25px;
}

.text-button {
  cursor:pointer;
}

.text-success {
  color:#1ED760;
}

.text-success:hover {
  color:#2be96f;
}

.clickable {
  cursor:pointer;
}

.scrollbar::-webkit-scrollbar {
  width: 10px;
	background-color: #F5F5F5;

}

.scrollbar::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar-thumb {
	background-color: #0ae;
	background-image: -webkit-linear-gradient(45deg,rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent)
}

.italic {
  font-style: italic;
}

.m-b-5 {
  margin-bottom:5px;
}

.m-t-10 {
  margin-top:10px;
}

.p-10 {
  padding:10px;
}

.m-t-5 {
  margin-top:5px;
}

.m-b-10 {
  margin-bottom:10px;
}

.button-large {
  font-size:20px;
}
